
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

form-inline {
    justify-content: center;
}


h2 {text-align: center}

/* Centered section inside the top navigation */
.nav-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* FORM STYLES */

.boardgameform {
    text-align: center;
    padding: 5px;
    display: none;          
}

.boardgamesearch {
    text-align: center;
    padding: 5px;
    display: none;          
}


input{
   text-align:center;
   width: 150%;
   padding: 5px;
}

label {
  padding: 5px;
}

#adminheaders{
    display: inline-block;
    text-align: center;
    vertical-align: central;
    justify-content: center;
    margin:0;
    padding:0;
    font-family: 'Pacifico', cursive;
}