
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

<<<<<<< HEAD
=======
/* STYLE HEADER  */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #Ea3467;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #80f6c0;
}     


/* STYLE FORM  */
>>>>>>> e37e9d5ff0fa4e2e3a0fbb0544b33fb8dd7e817b
form-inline {
    justify-content: center;
}


h2 {text-align: center}

/* Centered section inside the top navigation */
.nav-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

