
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* STYLE HEADER  */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #Ea3467;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #80f6c0;
}     


/* STYLE FORM  */
form-inline {
    justify-content: center;
}


h2 {text-align: center}

/* Centered section inside the top navigation */
.nav-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

<<<<<<< HEAD
/* FORM STYLES */

.boardgameform {
    text-align: center;
    padding: 5px;
    display: none;
   
        
}

input{
   text-align:center;
   width: 150%;
   padding: 5px;
}

label {
  padding: 5px;
}

#adminheaders{
    display: inline-block;
    text-align: center;
    vertical-align: central;
    justify-content: center;
    margin:0;
    padding:0;
    font-family: 'Pacifico', cursive;
    font-size: 1112px;
}

=======
>>>>>>> 15042121d8c8892b4ba6fdc5d67dc081b1345b2f
